* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: .2s;
}

.main {
    padding: 1.2rem;
    background: #161922;
}

.top {
    padding-top: 10rem;
    justify-content: center;
}

.toptx {
    margin-top: 5rem;
    text-align: center;
    color: whitesmoke;
    margin: auto;
}

.experience h2 {
    text-align: center;
    color: white;
}

.experience h2,
.about h2 {
    font-size: 2rem;
    color: white;
}

.exptabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    justify-content: center;
    padding: 1rem;
}

.tab {
    border-radius: .2rem;
}

.tab .vdtxt {
    padding: 1rem;
    color: white;
}

.tab iframe {
    width: 100%;
    border-radius: .2rem;
}

.footer {
    background: #85010d;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: whitesmoke;
    padding: 1.2rem;
}


.val,
.service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.sect,
.servlet,
.capt {
    padding: 1.2rem;
    background: white;
    color: black;
    border-radius: .2rem;
    box-shadow: 1px 2px 2px #85010d;
}

.servlet ul li {
    list-style: circle;
    margin-left: 1.5rem;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: 1rem;
}

.about img {
    width: 100%;
    height: 100%;
}

.about p,
.about h2 {
    padding: 1rem;
    color: white;
    margin-left: 1rem;
}

.mem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

.team {
    font-weight: 350;
}

.intro {
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
}

.team h4 {
    font-size: 1.2rem;
    font-weight: 350;
    /* color: #85010d; */

    color: black;
    background: white;
    padding: 0.5rem;
    border-radius: .2rem;
}

.team h5 {
    font-weight: normal;
    font-size: 1rem;
    padding: .6rem;
}

/* slider for clientele */
.slider {
    overflow: hidden;
}

.cont h2 {
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1040px;
    font-weight: 450;
    text-align: center;
}

.slider img {
    height: 100px;
    width: 150px;
    margin-left: 1rem;
}

.slick-slide {
    margin: 0 1rem;
}

.slick-slide img {
    width: 100%;
}

.logo-area {
    padding: 1rem;
}

.logo-area .slick-slide {
    margin: 0.5rem;
}

.slick-dots .slick-active button:before {
    color: #fff;
}

.slick-dots li button:before {
    font-size: 12px;
}

/* clients logos */
.client-logo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.8rem;
}

.client-logo img {
    height: 90px;
    width: 100%;
    margin: .5rem;
}