@media (max-width: 650px) {
    .exptabs {
        grid-template-columns: auto;
        font-weight: normal;
        /* margin: 1rem; */
    }

    .experience h2,
    .about h2 {
        font-size: 1rem;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    .sect1 {
        margin-left: 1rem;
    }

    .about {
        grid-template-columns: auto;
        margin-top: .2rem;
    }

    .about img {
        width: 100%;
    }

    .about .txt {
        width: 100%;
    }

    .val,
    .service {
        display: grid;
        grid-template-columns: auto;
        /* gap: 1rem; */
    }

    .sect h2 {
        font-size: 1.2rem;
    }

    .mem {
        display: grid;
        grid-template-columns: auto;
        /* gap: 1.5rem; */
        /* padding: 1rem; */
    }

    .team h4 {
        font-size: 1rem;
        font-weight: 400;
        color: black;
        background: white;
        padding: 0.2rem;
        border-radius: .2rem;
    }

    .team h5 {
        font-weight: normal;
        font-size: 1rem;
        /* padding: .6rem; */
    }

    .slider img {
        height: 60px;
        width: 100px;
        /* margin-left: 0.8rem; */
    }

    .client-logo {
        max-width: 100%;
        overflow: hidden;
    }

    .client-logo img {
        height: 50px;
        width: 5em;
        margin: .5rem;
    }
}

@media only screen and (max-width: 1020px) {
    .about {
        grid-template-columns: auto;
        margin-top: .2rem;
    }

    .about img {
        width: 100%;
    }

    .about .txt {
        width: 100%;
    }

}